@each $space in $spacer-multiples {
    .m-#{$space * $spacer-base} {
        margin: #{$space * $spacer-base}px !important;
    }

    .m-t-#{$space * $spacer-base} {
        margin-top: #{$space * $spacer-base}px !important;
    }

    .m-b-#{$space * $spacer-base} {
        margin-bottom: #{$space * $spacer-base}px !important;
    }

    .m-tb-#{$space * $spacer-base} {
        margin-top: #{$space * $spacer-base}px !important;
        margin-bottom: #{$space * $spacer-base}px !important;
    }

    .m-l-#{$space * $spacer-base} {
        margin-left: #{$space * $spacer-base}px !important;
    }

    .m-r-#{$space * $spacer-base} {
        margin-right: #{$space * $spacer-base}px !important;
    }

    .m-lr-#{$space * $spacer-base} {
        margin-left: #{$space * $spacer-base}px !important;
        margin-right: #{$space * $spacer-base}px !important;
    }
}