.Dropdown {
    background-color: $header-color;

    width: 200px;

    border: 1px solid $dropdown-border-color;
    border-radius: $border-radius; 

    position: absolute;
    top: 100%;
    right: 0;
}

.Dropdown--option {
    width: calc(100% - 16px);

    margin: 8px 8px 0;
}

.Dropdown--option:last-child {
    margin: 8px;
}